#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.arrow {
  display: inline-block;
}

.arrow.right {
  transform: rotate(0deg);
}

.arrow.left {
  transform: rotate(180deg);
}

.arrow.up {
  transform: rotate(-90deg);
}
.arrow.down{
    transform: rotate(90deg);
}