@import "tailwindcss";

@theme {
  --font-raleway: "Raleway";
  --color-primary: #6E9C9F;
  --color-primary-hover: #509498;
  --color-secondary: #998E78;
}

body {
  font-family: var(--font-raleway);
  font-weight: 500;
  color: black;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 55px;
  line-height: 60.5px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
}

h3 {
  font-size: 25px;
  line-height: 35px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}